@import "./variables.scss";
@import "./breakpoints.scss";

footer {
  box-shadow: 0 -1px 8px hsla(0, 0%, 0%, 0.2);
}


  .footer{
  background: url('../../public/assets/lux_cat.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      height: 60vh;
      z-index: -1;
  }

  .about-us-container {
    position: absolute;
    width: 100vw;
      height: 420px;
      background-color: #ffffff9a;
      z-index: 100;
      transform: translateY(-100%);
  }

  .about-us-text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 300px;
      padding: 20px;
      gap: 50px;
      /* margin-left: 100px; */
  }

  .about-us-text ul {
      list-style-type: none;
      padding: 4px;
      /* font-family: "Anta", sans-serif; */
      color: rgb(48, 48, 48);
      margin-bottom: 40px;
      line-height: 25px;
  }

  .about-us-container a{
  text-decoration: none;
  color: rgb(48, 48, 48);
  }

  .footer a:hover{
  color: #0b6d78;
  }

  .about-firstcolumn {
      margin-top: 30px;
      color: white;
  }

  .about-firstcolumn li:hover {
      color: #0b6d78;
      cursor: pointer;
      transform: scale(1.1);
  }

  .about-secondcolumn {
      padding: 30px;
  }

  .about-secondcolumn h2 {
      margin-bottom: 10px;
  }

  .about-secondcolumn a{
      margin-right: 30px;
  }

  .about-thirdcolumn { 
      margin-top: 25px;
      width: 250px;
      color: white;
  }

  .about-thirdcolumn span,
  .about-thirdcolumn i {
      color: #0b6d78;
      font-size: 1.4em;
      line-height: 30px;
  }

  .about-thirdcolumn span {
      margin-right: 100px;
      color: #0b6d78;
  }


  .about-thirdcolumn li {
      display: flex;
      align-items: center;
      letter-spacing: 1.2px;
      flex-wrap: wrap;
      flex-direction: row;
      line-height: 25px;
  }


  .about-icon-container {
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      margin-right: 130px;
  }

  .about-icon-container ul{
      width: 300px;
      display: flex;
      justify-content: space-between;
  }

  .about-icon-container li{
      list-style: none;
      display: inline-block;
      font-size: 23px;
      border-radius: 50%;
      height: 55px;
      width: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }

  .instagram,
  .twitter,
  .youtube,
  .facebook{
      border: 2px solid transparent;
      color: rgb(26, 24, 24);
      background:rgb(190, 187, 187);
  }

  .icon{
      transition: 0.6s;
  }

  .about-icon-container li:hover .icon1,
  .about-icon-container li:hover .icon2,
  .about-icon-container li:hover .icon3,
  .about-icon-container li:hover .icon4{
      transform: rotateY(360deg);
      text-shadow: 0 -1px 8px hsla(0, 0%, 0%, 0.2);
  }

  .about-icon-container li{
      transition: 0.4s;
      transition-delay: 0.2s;
  }

  @media(max-width:1400px){

      .about-us-container {
          padding-inline: 50px;
      }
      
  }

  @media(max-width:1200px){

      .about-us-container {
          padding-inline: 50px;
      }
      
  }

  @media(max-width:900px){

      .about-secondcolumn {
          display: none;
      }

      .about-us-container {
          padding-inline: 100px;
      }
      
  }

  @media(max-width:700px){

      .about-us-container {
          padding-inline: 0;
      }

      .about-secondcolumn {
          display: none;
      }
  }

  @media(max-width:500px){

      .about-us-text {
          display: inline-block;
          margin-bottom: 200px;
      }

      .about-us-container {
          padding: 0;
          margin: 0;
      }

      .about-secondcolumn {
          display: none;
      }
  }